/* ========== work sans font from google font ============ */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

/* shared styles ======= */
* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.btn {
  border-radius: .4rem;
  background: #ff900e;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  padding: 0.5em 1em;
  color: #fff;
}
.btn:hover, .btn:focus{
    background-color: #fff;
    color: #ff900e;
}

/* ===========
 header styles
 =========== */

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 2.5em 13em;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  color: #131313;
  font-size: 2rem;
  font-weight: 700;
}
.nav-list {
  display: flex;
}
.nav-list-item {
  list-style: none;
  margin-right: 2.5em;
  font-weight: 500;
  font-size: 1rem;
}
.nav-link {
  text-decoration: none;
  color: #424242;
}

/* ================
   banner styles
================= */
.banner-content {
  max-width: 700px;
  text-align: center;
  margin: 4em auto;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}
.banner-body {
  color: #727272;
  padding: 1.5em 0;
  width: 90%;
  max-width:868px;
}
.banner-img {
  width: 1440px;
  max-width: 100%;
}

/*=============================media queries=========================  */
/* mobile devices */
@media screen and (max-width:576px) {
  header{
    padding: 1.25em;
  }
  nav{
    flex-direction: column;
  }
  .nav-list{
     padding-top: .6em;
  }
}

/* Tablet or medium devices  */
@media screen and (min-width:577px) and (max-width:992px) {
  header{
    padding: 1.25em;
  }
  nav{
    flex-direction: column;
  }
  .nav-list{
    padding-top: .6em;
 }
}