/* ========== work sans font from google font ============ */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

/* shared styles ======= */
* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.text-description {
  color: #727272;
  padding: 1.5em 0;
  width: 90%;
  /* max-width: 868px; */
}
.section-title {
  color: #131313;
  font-size: 2rem;
  font-weight: 700;
}
.img {
  max-width: 100%;
}
.btn {
  border-radius: 0.4rem;
  background: #ff900e;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  padding: 0.5em 1em;
  color: #fff;
}
.btn:hover,
.btn:focus {
  background-color: #fff;
  color: #ff900e;
}

/* ===========
 header styles
 =========== */

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 2.5em 13em;
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
}
.nav-list-item {
  list-style: none;
  margin-right: 2.5em;
  font-weight: 500;
  font-size: 1rem;
}
.nav-link {
  text-decoration: none;
  color: #424242;
}

/* ================
   banner styles
================= */
.banner-content {
  max-width: 700px;
  text-align: center;
  margin: 4em auto;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}

/*============= 
main styles
=============== */
main {
  width: 90%;
  max-width: 1440px;
  margin: 3em auto;
}
section{
  margin-top: 3em;
}

/* teams styles ======== */
.teams-container {
  display: flex;
  align-items: center;
}
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.teams-content {
  padding: 0em 4.5em;
}
.teams-title {
  font-size: 2.7rem;
}
.quick-list {
  color: #727272;
  font-weight: 500;
}
.text-features {
  font-weight: 700;
  color: #ff900e;
}

/*==============
 facts container
 ===============*/
 
 .facts-card-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.2em;
  /* flex-wrap: wrap; */
 }
  
.card {
  border-radius: .5em;
  border: 0.0625em solid #ff900e;
  text-align: center;
  padding: 3em 2em ;
  font-weight: 600;
}
.card-stats{
  font-size: 2.8rem;
}
.card-title{
  color: #727272;
  font-size: 1.2rem;
  font-weight: 600;
}
/*==================
 sponsers section 
===================== */
.sponsers{
  text-align: center;
}
.sponsers-img-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.3em;
  margin-top: 3em;
  padding: 1.8em;
}

/*=============================media queries=========================  */
/* mobile devices */
@media screen and (max-width: 576px) {
  header {
    padding: 1.25em;
  }
  nav,
  .teams-container, .facts-card-container, .sponsers-img-container {
    flex-direction: column;
  }
  .nav-list,
  .teams-title {
    padding-top: 0.6em;
  }
  
}

/* Tablet or medium devices  */
@media screen and (min-width: 577px) and (max-width: 992px) {
  header {
    padding: 1.25em;
  }
  nav,
  .teams-container, .facts-card-container, .sponsers-img-container {
    flex-direction: column;
  }
  .nav-list,
  .teams-title {
    padding-top: 0.6em;
  }
  
}
